<div class="container">
  <a href="/new_tweet">Tweet Something!</a>
  <form id="tweeter_form" action="/tweets" method="post">
    <label for="tweeter">Whose tweets you want to see?</label>
    <input type="text" name="tweeter" placeholder="ex. robdelaney">
    <input type="submit" value="Let's see those tweets!">
  </form>
  <% if @load_wait %>
    <div id="load_wait">
    </div>
    <% end %>

  <div class="tweets">
    <%= erb :tweets %>
  </div>
  
  <div class="loading">
    <h2>Loading...</h2>
    <img src="/images/thedude.gif" alt="">
  </div>
</div>
