
<% if @tweets %>
<div class="tweets">
  <h3><%= @user.name %>'s Tweets</h3>
  <% @tweets.each do |tweet| %>
  <p><%= tweet.text.gsub(/(https?:\/\/t\.co\/.+)/, "<a href='\\1'>'\\1'</a>")  %> &lt Posted at <%= tweet.posted_at %></p>
  <% end %>
  <% end %>
</div>
